<?xml version="1.0" encoding="utf-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ijoic.skinchange">

  <!-- permission for skin apk copy -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:name=".SkinApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- main -->
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!-- <>-<>-<>-<>-<>-<>-<>-<>-<>-<> simple test :start <>-<>-<>-<>-<>-<>-<>-<>-<>-<> -->

    <!-- entrance -->
    <activity
      android:name=".test.SimpleTestActivity"
      android:label="@string/case_simple_test"/>

    <!-- register activity test -->
    <activity
      android:name=".test.simple.RegisterActivityTest"
      android:label="@string/case_simple_register_activity"/>

    <!-- <>-<>-<>-<>-<>-<>-<>-<>-<>-<> simple test :end <>-<>-<>-<>-<>-<>-<>-<>-<>-<> -->

    <!-- <>-<>-<>-<>-<>-<>-<>-<>-<>-<> dynamic test :start <>-<>-<>-<>-<>-<>-<>-<>-<>-<> -->

    <!-- entrance -->
    <activity
      android:name=".test.DynamicTestActivity"
      android:label="@string/case_dynamic_test"/>

    <!-- linear -->
    <activity
      android:name=".test.dynamic.LinearDynamicTest"
      android:label="@string/case_dynamic_linear"/>

    <!-- recycler -->
    <activity
      android:name=".test.dynamic.RecyclerDynamicTest"
      android:label="@string/case_dynamic_recycler"/>

    <!-- pager -->
    <activity
      android:name=".test.pager.PagerTestActivity"
      android:label="@string/case_dynamic_pager"/>

    <!-- <>-<>-<>-<>-<>-<>-<>-<>-<>-<> dynamic test :end <>-<>-<>-<>-<>-<>-<>-<>-<>-<> -->

  </application>

</manifest>